<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head :: head"></head>

<body>
  <header th:replace="fragments/navbar :: navbar"></header>

  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">
          <div class="box">
            <h1 class="title" th:text="${page.title}">Cambiar Contraseña de Usuario</h1>

            <div th:if="${errorMessage != null}" class="notification is-danger">
              <button class="delete"></button>
              <span th:text="${errorMessage}"></span>
            </div>

            <div class="notification is-info">
              <p><strong>Usuario:</strong> <span th:text="${targetUser.username}"></span></p>
              <p><strong>Nombre:</strong> <span th:text="${targetUser.nombre + ' ' + targetUser.apellido}"></span></p>
            </div>

            <form th:action="@{'/users/change-user-password/' + ${targetUser.id}}" method="post">
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

              <div class="field">
                <label class="label">Tu Contraseña (Admin)</label>
                <div class="control has-icons-left">
                  <input class="input" type="password" name="adminPassword" required
                    placeholder="Ingrese su contraseña para confirmar" />
                  <span class="icon is-small is-left">
                    <i class="fa-solid fa-shield-halved"></i>
                  </span>
                </div>
                <p class="help">Debe ingresar su propia contraseña para cambiar la contraseña de otro usuario</p>
              </div>

              <div class="field">
                <label class="label">Nueva Contraseña</label>
                <div class="control has-icons-left">
                  <input class="input" type="password" name="newPassword" required
                    placeholder="Ingrese la nueva contraseña" />
                  <span class="icon is-small is-left">
                    <i class="fa-solid fa-key"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label class="label">Confirmar Nueva Contraseña</label>
                <div class="control has-icons-left">
                  <input class="input" type="password" name="confirmPassword" required
                    placeholder="Confirme la nueva contraseña" />
                  <span class="icon is-small is-left">
                    <i class="fa-solid fa-key"></i>
                  </span>
                </div>
              </div>

              <div class="field is-grouped">
                <div class="control">
                  <button type="submit" class="button is-primary">
                    <span class="icon">
                      <i class="fa-solid fa-save"></i>
                    </span>
                    <span>Cambiar Contraseña</span>
                  </button>
                </div>
                <div class="control">
                  <a class="button is-light" th:href="@{/users}">Cancelar</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

</html>