<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head :: head"></head>

<body>
  <div th:replace="fragments/navbar :: navbar"></div>

  <section class="section">
    <div class="container">
      <h1 class="title">Error</h1>
      <div class="notification is-danger" th:if="${errorMessage}">
        <p th:text="${errorMessage}">Ocurrió un error</p>
      </div>
      <div th:if="${!errorMessage}">
        <p>Ocurrió un error inesperado.</p>
      </div>

      <p>
        <a class="button" th:href="@{/users}">Volver a usuarios</a>
      </p>
    </div>
  </section>

</body>

</html>