<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head :: head"></head>

<body>
  <div th:replace="fragments/navbar :: navbar"></div>

  <h1>Usuarios</h1>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Usuario</th>
        <th>Rol</th>
        <th>Habilitado</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="u : ${users}">
        <td th:text="${u.id}">1</td>
        <td th:text="${u.username}">usuario</td>
        <td th:text="${u.role}">ROLE_ADMIN</td>
        <td th:text="${u.enabled}">true</td>
      </tr>
    </tbody>
  </table>

</body>

</html>