<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head}"></head>

<body>
  <header th:replace="~{fragments/navbar :: navbar(${navLinks})}"></header>
  <section class="section">
    <div class="container">
      <div class="card">
        <div class="card-content">
          <h1 class="title" th:text="${mensaje}">Hola Mundo!</h1>
          <p class="content">Esta es la página pública.</p>
        </div>
      </div>
    </div>
  </section>
</body>

</html>